assets/*
!assets/sprites/
assets/sprites/*
!assets/sprites/Player/
assets/sprites/Player/*
!assets/sprites/Player/right*.png
!assets/sprites/Player/up*.png
!assets/sprites/Player/down*.png
!assets/sprites/SkinnyZombie/
assets/sprites/SkinnyZombie/*
!assets/sprites/SkinnyZombie/left*.png
!assets/sprites/SkinnyZombie/up*.png
!assets/sprites/SkinnyZombie/down*.png
!assets/sprites/BigZombie/
assets/sprites/BigZombie/*
!assets/sprites/BigZombie/left*.png
!assets/sprites/BigZombie/up*.png
!assets/sprites/BigZombie/down*.png
!assets/sprites/KidZombie/
assets/sprites/KidZombie/*
!assets/sprites/KidZombie/left*.png
!assets/sprites/KidZombie/up*.png
!assets/sprites/KidZombie/down*.png
# Damaged variants
!assets/sprites/SkinnyZombieDamaged/
assets/sprites/SkinnyZombieDamaged/*
!assets/sprites/SkinnyZombieDamaged/left*.png
!assets/sprites/SkinnyZombieDamaged/up*.png
!assets/sprites/SkinnyZombieDamaged/down*.png
!assets/sprites/BigZombieDamaged/
assets/sprites/BigZombieDamaged/*
!assets/sprites/BigZombieDamaged/left*.png
!assets/sprites/BigZombieDamaged/up*.png
!assets/sprites/BigZombieDamaged/down*.png
!assets/sprites/KidZombieDamaged/
assets/sprites/KidZombieDamaged/*
!assets/sprites/KidZombieDamaged/left*.png
!assets/sprites/KidZombieDamaged/up*.png
!assets/sprites/KidZombieDamaged/down*.png

/.vscode

.DS_Store